.block {
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.block__header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.block__headerHeight {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.block__button {
    background-color:rgb(168, 102, 230);
    color: beige;
    text-align: center;
    border: 1px solid rgb(68, 51, 51);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    box-shadow: 2px 3px 5px hsl(38, 55%, 55%);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.block__backButton {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
}

.block__backButton:hover {
    color: red;
    border-bottom: 1px solid;
    outline: none;
}