.button {
    background-color:rgb(168, 102, 230);
    color: beige;
    text-align: center;
    border: 1px solid rgb(68, 51, 51);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    box-shadow: 2px 3px 5px hsl(38, 55%, 55%);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}