.container {
    overflow-x: auto;
}

.container__table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

.container__caption {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}

.container__image {
    margin-bottom: -10px;
}

.container__paragraph {
    margin-bottom: -5px;
}

.container__tableCell {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.container__tableCell--tableHeader {
    background-color: #d6f8f8;
    color: black;
    font-weight: lighter;
}

.container__tableCell:hover {
    background: rgb(206, 196, 192);
}