.footer {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-shadow: 3px 4px 5px hsl(38, 55%, 55%);
    font-family: 'Roboto Serif', sans-serif;
    font-size: 12px;
    line-height: 1.3;
}