.header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.header__title {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}