.navigation {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.navigation__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.navigation__link {
    text-decoration: none;
}

.navigation__link:hover {
    color: red;
    border-bottom: 1px solid;
    outline: none;
}