.section {
    background-color: hsl(0, 0%, 96%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.section__header {
    text-align: center;
}

.section__logo {
    text-align: center;
}

.section__paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.section__image {
    text-align: center;
}

.section__linkFont {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 12px;
    line-height: 1.3;
}

.section__link {
    text-decoration: none;
}

.section__link:hover {
    color: red;
    border-bottom: 1px solid;
    outline: none;
}

.section__unorderedList {
    padding-left: 20px;
    text-align: left;
}