.wrapper {
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.wrapper__backButton {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
}

.wrapper__backButton:hover {
    color: red;
    border-bottom: 1px solid;
    outline: none;
}